.searchBlock {
	display: flex;
	position: relative;
	pointer-events: auto;
	flex: 0 1 var(--input-topbar-width);
	form {
		width: 100%;
	}
	.formButtons {
		display: flex;
		position: absolute;
		align-items: center;
		top: 0;
		bottom: 0;
		left: 12px;
		right: 12px;
		pointer-events: none;
		.find {
			color: var(--input-topbar-text);
			flex: 1;
			font-size: 1.275rem;
		}
		.clear {
			display: flex;
			align-items: center;
			background-color: transparent;
			color: var(--input-topbar-text);
			border: 0;
			padding: 0;
			pointer-events: auto;
			font-size: 1.575rem;
		}
	}
}
