.navbarButton {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	min-height: max-content;
	gap: 16px;
	padding: 0 16px;
	width: 100%;
	cursor: pointer;

	.icon {
		font-size: 1.8rem;
	}
	.textContent {
		box-sizing: border-box;
		font-size: 0.85rem;
		line-height: 1rem;
		font-weight: 700;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
