@import 'mixins';
.navbarModalButtonList {
	position: relative;
	.button {
		display: flex;
		position: relative;
		align-items: center;
		border-radius: 2px;
		gap: 8px;
		height: 40px;
		width: 100%;
		padding: 12px;
		padding-inline-end: 8px;
		text-align: start;
		user-select: none;
		border: none;

		.textContent {
			@include textMain();
			color: unset;
		}
	}
	.secondContainer {
		display: flex;
		position: fixed;
		height: 500px;
		width: 250px;
		z-index: 1;
		.secondListItems {
			background-color: var(--background-profile-modal);
			border-radius: 4px;
			box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
			max-height: calc(100vh - 24px);
			max-width: 350px;
			min-width: 160px;
			overflow-y: auto;
			padding: 4px;
			width: 100%;
			height: max-content;
			max-height: 500px;
			.secondListItem {
				.secondButton {
					display: inline-block;
					position: relative;
					align-items: center;
					border-radius: 2px;
					gap: 8px;
					height: 40px;
					width: 100%;
					padding: 12px;
					padding-inline-end: 8px;
					text-align: start;
					user-select: none;
					border: none;
					overflow: hidden;
					text-overflow: ellipsis;
					.secondTextContent {
						@include textMain();
						display: unset;
						color: unset;
					}
				}
			}
			&::-webkit-scrollbar-button {
				width: 0;
				display: none;
			}
			&::-webkit-scrollbar {
				width: 0;
			}
			&:hover::-webkit-scrollbar {
				width: 4px;
				background-color: transparent;
			}
			&::-webkit-scrollbar-thumb {
				background-color: #e6e6e680;
			}
		}
	}
}
